body {
    background-color: black;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav {
    padding-top: 20px;
    position: sticky;
    width:100% auto;

}

#btn1 {
    background-image: url("https://i0.wp.com/hawkstack.com/wp-content/uploads/2024/06/Untitled-design-2025-05-17T130402.583.png?fit=1024%2C341&ssl=1");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 10%;
    margin-left: 60px;
    border: none;
    border-radius: 5px;
}

#btn2 {
    background-image: url("https://www.virtusindonesia.com/wp-content/uploads/2025/09/Red-Hat.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 10%;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}

.anker1 {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    padding: 10px;

}

.anker1:hover {
    text-decoration: underline;
    text-decoration-color: lime;
    text-decoration-thickness: 5px;

}

#btn3 {
    padding: 10px;
    width: 6%;
    background-color: rgb(46, 43, 43);
    border-radius: 20px;
    color: white;
    border: 1px solid rgb(185, 170, 170);
    transition: 0.6s;
}

#btn3:hover {
    border: 1px solid red;
    transition: 0.4s;
}

#btn4 {
    padding: 10px;
    width: 15%;
    background-color: blue;
    border-radius: 20px;
    color: white;
    margin-left: 10px;
    border: 1px solid white;
    transition: 0.6s;
    box-shadow: 5px 130px 100px deeppink;
}

#btn4:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

#flexbox1 {
    display: flex;
    width: 100%;
}

#container1 {
    margin-top: 7%;
    margin-left: 4.5%;
    width: 50%;
}

#btn5 {
    padding: 10px;
    background-color: rgb(58, 58, 83);
    color: white;
    border-radius: 20px;
    width: 35%;
    border: 1px solid rgb(26, 26, 109);
    box-shadow: 2px 2px 100px rgb(87, 87, 156);
}

#heading1 {
    color: white;
    font-size: 3rem;
     animation: blur linear 1s 1;

}

@keyframes blur {
    20% {
        font-size: 2px;
        margin-right: 60%;
        opacity: 0%;
        filter: blur(10px);
       
    }

    40% {
        transform: scale(1.01);
    }
}

#subhead1 {
    color: transparent;
    background: linear-gradient(to right, blue, deeppink);
    background-clip: text;
}

#container2 {
    margin-top: 2%;
    width: 40%;
}

#subcontainer1 {
    background-image: url("https://avatars.githubusercontent.com/u/161793607?v=4");
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin-left: 20%;
    margin-top: -100px;
    animation: none;

}

#card1 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    animation: ani1 linear 2.5s 2;

}

@keyframes ani1 {
    from {
        margin-left: -40px;
        transition: 2s;
    }

    to {
        margin-bottom: 0px;
    }
}

#logo1 {
    background-image: url("https://learn.iteindia.in/pluginfile.php/23814/course/overviewfiles/rhcsa2.jpg");
    background-repeat: repeat;
    background-size: cover;
    width: 160px;
    height: 180px;
    margin-top: -23%;
    border-radius: 15px;
    margin-left: 50px;
    border: 1.5px solid red;
    animation: ani2 linear 5s 1;
}

@keyframes ani2 {
    50% {
        margin-top: 0px;
    }

    100% {
        margin-bottom: -10px;
    }
}

#logo2 {
    margin-left: 60%;
    padding: 10px;
    margin-top: 40%;
    width: 40%;
    background-color: transparent;
    color: white;
    border: 2px solid blueviolet;
    border-radius: 10px;
}

#sp1 {
    color: blue;
    font-size: 2rem;
}

#logo3 {
    margin-left: 60%;
    padding: 10px;
    margin-top: 30%;
    width: 40%;
    background-color: rgb(83, 83, 123);
    color: white;
    border: 2px solid blueviolet;
    border-radius: 10px;
    animation: ani3 linear 4s 1;
}

@keyframes ani3 {
    50% {
        margin-top: 33%;
    }

}

#para1 {
    color: white;
    font-size: 1.4rem;
}

#enrol {
    padding: 15px;
    color: white;
    background-color: rgb(13, 79, 213);
    box-shadow: 1px 10px 10px rgb(13, 79, 213);
    border-radius: 10px;
    border: 1px solid white;
}

#enrol:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 20px aqua;
}

#view {
    padding: 15px;
    background-color: rgb(30, 29, 29);
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    margin-left: 15%;
    box-shadow: 1px 1px 100px red;
}

#view:hover {
    border: 1px solid red;
}

#btn6 {
    background: transparent;
    border: none;
    color: white;
}

#con1 {
    color: transparent;
    background: linear-gradient(to right, rgb(9, 186, 202), white);
    background-clip: text;
    margin-left: 10px;
}

#cont1 {
    color: transparent;
    background: linear-gradient(to right, red, white);
    background-clip: text;
    margin-left: 20px;
}

#cont2 {
    color: transparent;
    background: linear-gradient(to right, lime, white);
    background-clip: text;
    margin-left: 20px;

}

#con2 {
    font-size: 10px;
    color: gray;
    letter-spacing: 1.5px;
}

#sechead {
    color: transparent;
    background: linear-gradient(to right, blue, blue, white, red, red, red);
    background-clip: text;
    font-size: 3rem;
}

#spn3 {
    color: white;
}

#sup {
    font-size: 15px;
}

#icon1 {
    padding: 15px;
    margin-top: 5%;
    border: 1px solid white;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(23, 93, 125), rgb(90, 129, 154), red);
}

#sechead1 {
    color: white;
}

#flexbox2 {
    display: flex;
}

#flexcard1 {
    height: 150px;
    width: 300px;
    margin-left: 8%;
    background-color: rgb(31, 27, 27);
    margin-top: 5%;
    border-radius: 10px;
    transition: 0.8s;
}

#flexcard1:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 10px white;
    margin-top: 4%;
    transition: 0.5s;
}

#section1 {
    background: linear-gradient(123deg, black, rgb(58, 58, 90), black);
    height: 700px;
}

#section2 {
    background-color: white;
    height: 600px;
}

#sechead3 {
    padding-top: 5%;
    letter-spacing: 3px;
    font-size: 3rem;
}

#spn4 {
    color: transparent;
    background: linear-gradient(to right, aqua, purple, deeppink);
    background-clip: text;

}

#btn7 {
    background-color: red;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

#btn7:hover {
    transform: rotate(20deg);
    transition: 1s;
}

#sec2 {
    height: 200px;
    width: 300px;
    margin-left: 8%;
    background-color: white;
    margin-top: 5%;
    color: black;
    border-radius: 10px;
    border: 1px solid rgb(230, 225, 225);

}

#sech2 {
    color: black;
    margin-left: 10px;
}

#p3 {
    margin-left: 10px;
}

#section3 {
    background-color: rgb(28, 27, 27);
    height: 600px;
    color: white;
}

#sechead4 {
    color: white;
    font-size: 3.5rem;
    text-shadow: 1px 1px 20px deeppink;
}

#sec3 {
    height: 200px;
    width: 300px;
    margin-left: 2%;
    background-color: rgb(43, 40, 40);
    margin-top: 5%;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(230, 225, 225);

}

#sech3 {
    color: white;
    margin-left: 15px;
}

#sec4 {
    height: 200px;
    width: 300px;
    margin-left: 2%;
    background-color: rgb(43, 40, 40);
    margin-top: 5%;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(230, 225, 225);

}

#sec4:hover {
    background: linear-gradient(12deg, rgb(39, 37, 37), rgb(104, 54, 54));
}

#btns7 {
    background-color: red;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

#btns8 {
    background-color: rgb(26, 114, 247);
    padding: 15px;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 10px;
    border: none;
    box-shadow: 1px -19px 200px rgb(255, 0, 157);
}

#btns9 {
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 10px;
    border: none;
    box-shadow: 100px -30px 200px rgb(9, 191, 241);
}

#btns10 {
    background-color: purple;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

#btn8 {
    background-color: rgb(7, 150, 211);
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

#btn8:hover {
    transform: rotate(20deg);
    transition: 1s;
}

#btn9 {
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

#btn9:hover {
    transform: rotate(20deg);
    transition: 1s;
}

#art1 {
    background: linear-gradient(45deg, rgb(60, 60, 96), rgb(33, 32, 32), rgb(3, 3, 3), rgb(133, 65, 65));
    height: 1060px;
    color: white;
}

#artbtn1 {
    padding: 15px;
    width: 20%;
    margin-top: 30px;
    background: linear-gradient(to right, rgb(133, 59, 59), rgb(53, 53, 117));
    border-radius: 15px;
    border: 1px solid rgb(55, 52, 52);
    color: white;

}

#arth1 {
    letter-spacing: 3px;
    color: white;
    text-shadow: 1px 1px 100px aqua;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

#artp {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

#btn10 {
    background-color: red;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
}

#box3d {
    width: 500px;
    height: 400px;
    background-color: rgb(44, 41, 41);
    margin-left: 9%;
    border-radius: 10px;
    border: 1px solid rgb(230, 225, 225);
    transition: 0.4s;
}

#box3d:hover {
    transform: scale(1.01);
    transition: 0.6s;
    box-shadow: 2px 2px 20px aqua;
}

#box4d {
    width: 500px;
    height: 400px;
    background-color: rgb(44, 41, 41);
    margin-left: 9%;
    border-radius: 10px;
    border: 1px solid rgb(230, 225, 225);
    transition: 0.4s;
}

#box4d:hover {
    transform: scale(1.01);
    transition: 0.6s;
    box-shadow: 2px 2px 20px aqua;
}

#star {
    margin-left: 20px;
    text-shadow: 1px 1px 1px red;
}

#quation1 {
    padding: 10px;
}

#btn11 {
    padding: 15px;
    color: white;
    background-color: orangered;
    margin-left: 5%;
    border-radius: 10px;
    border: none;
}

#spn5 {
    font-size: 0.7rem;
    color: gray;
}

#btn12 {
    padding: 15px;
    color: white;
    background-color: skyblue;
    margin-left: 5%;
    border-radius: 10px;
    border: none;
}

#box5d {
    width: 740px;
    height: 250px;
    background-color: rgb(44, 41, 41);
    margin-top: 3%;
    border-radius: 10px;
    border: 2px solid rgb(230, 225, 225);
    box-shadow: 1px 1px 200px rgb(169, 49, 117);
    transition: 0.5s;
}

#box5d:hover {
    width: 770px;
    transition: 1s;
    border: 2px solid aqua;
    box-shadow: 2px 2px 400px aqua;

}

#btn13 {
    background: linear-gradient(to right, red, purple, aqua);
    padding: 15px;
    border: none;
    border-radius: 15px;
    width: 50%;
    color: white;
    margin-top: 10px;
    transition: 0.6s;
}

#btn13:hover {
    background: linear-gradient(to left, red, purple, aqua);
    transition: 0, 4s;
}

#art2 {
    height: 300px;
}

#art2h1 {
    color: white;
    font-size: 4rem;
}

#spn6 {
    color: transparent;
    background: linear-gradient(to left, red, blue);
    background-clip: text;
    text-shadow: 1px 1px 100px aqua;
}

#art2p1 {
    color: white;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

#anker2 {
    padding: 15px;
    border: 2px solid white;
    text-decoration: none;
    background-color: rgb(11, 87, 201);
    color: white;
    border-radius: 10px;
    box-shadow: 2px 10px 50px rgb(11, 87, 201);
}

#anker2:hover {
    box-shadow: 1px 2px 20px aqua;
}

#anker3:hover {
    border: 2px solid rgb(38, 118, 229);
}

#anker3 {
    padding: 15px;
    border: 2px solid white;
    text-decoration: none;
    background-color: rgb(37, 38, 40);
    color: white;
    border-radius: 10px;
    margin-left: 10%;
}

#flex2 {
    display: flex;
    margin-top: 30px;
    ;
}


#foot1 {
    background-color: black;
    height: 25rem;
    color: white;
    margin-top: 20%;
}

#foot2 {
    width: 30%;
    margin-left: 4rem;
    height: 15rem;
    margin-top: 2rem;

}

#foot3 {
    width: 18%;
    margin-left: 2rem;
    height: 15rem;
    margin-top: 2rem;

}

.ankerfoot {
    color: white;
    text-decoration: none;
}

.ankerfoot:hover {
    text-decoration: underline;
    text-decoration-color: lime;
}

#declare {
    color: white;
    margin-left: 4rem;
}

#icons {
    float: right;
    margin-right: 10%;
    margin-top: -40px;
}